table{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 98%;
	background-color: transparent;
	margin-top: 0px;
	margin-bottom: 0px;
}

tr{
	border-bottom: 1px dashed #ccc;
	line-height: 30px;
}

tr:hover{
	background-color: #f3f3f3;
}

td,th {
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
	font-size: 13px;
	color: #555555;	
}

th{
	font-weight: bold;
	font-size: 13px;
}

tr.header{
	background-color: #f3f3f3;
}

table.contact_search_result{
	margin-top: 10px;
	margin-bottom: 10px;
}

table.contact_profile{
	margin-top: 15px;
	margin-bottom: 10px;
	margin-right: 10px;
}

td.field {
	padding-left: 10px;
	text-transform: capitalize;
	font-style: italic;
}

td.value {
	
}






table.tasks{
	
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ccc;	
    border-radius: 5px;
    -moz-border-radius: 5px;    /* ff */
	-webkit-border-radius: 5px; /* chrome */

	background-color: #f3f3f3;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	padding-bottom: 5px;
	width: 100%;
}


table.tasks tr{
	background-color: #ccc;
	line-height: 100%;
}

table.tasks tr:hover{
	background-color: transparent;
}

table.tasks th{
	background-color: #e8e8e8;
	border-bottom: 1px solid #ccc;
	height: 40px;
	vertical-align: middle;
}



table.tasks td{
	background-color: white;
	text-align: left;
	vertical-align: top;
	padding: 5px;
	padding-top: 10px;
	/* border-bottom: 10px solid #f3f3f3; */
}

table.tasks td:hover {
	background-color: white;
}

table.tasks th.question_mark, td.question_mark{
	width: 20px;
	text-align: center;
}

table.tasks td.question_mark{
	padding-top: 5px;
}

table.tasks th.description, td.description{
	width: 200px;
}

table.tasks th.involved, td.involved{
	width: 150px;
	border-left: 1px dashed #ccc;
}

table.tasks th.time_line {
	border-left: 1px dashed #ccc;
}

table.tasks td.time_line{
	width: 400px;
	padding-top: 0px;
	padding-bottom: 0px;
	
	border-left: 1px dashed #ccc;
	/* background-image:url('/layout/images/grid.jpg'); */
}

table.tasks th.files_products, td.files_products {
	border-left: 1px dashed #ccc;
}

table.tasks td.files_products{
	padding-top: 0px;
	padding-bottom: 0px;
	border-left: 1px dashed #ccc;
}

table.tasks td.task_buttons {
	border-top: 0px;
	border-bottom: 15px solid #f3f3f3;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	vertical-align: middle;
}

table.tasks tr.task_buttons:hover {
	background-color: transparent;
}












table.event{

	background-color: white;
	
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #ccc;	
	        	
	margin: 0px;
	margin-top: -25px;
	margin-left: 23px;
	
	padding: 0px;
	
	min-height: 100px;
	max-height: 600px;
	
	width: 350px;
	max-width: 350px;
}

table.event tr{
	background-color: white;
	line-height: 100%;
}

table.event tr:hover{
	background-color: transparent;
}

table.event td{
	text-align: left;
	vertical-align: top;
	padding: 5px;
	font-size: 11px;
	line-height: 18px;
	border: 1px;
}

table.event td:hover {
	background-color: transparent;
}

table.event td.left{
	width: 18px;
}

table.event td.center{
	width: 180px;
	max-width: 180px;
}






table.task_summary {
	
	background-color: white;

    border-collapse: separate;
    border-spacing: 0px;
    border: 0px;
    border-top: 1px solid #ccc;	        	
	border-bottom: 1px solid #ccc;

	margin: 0px;
	margin-bottom: 10px;
	
	padding: 0px;

	/* width: 350px;
	max-width: 350px; */	
}

table.task_summary tr{
	background-color: white;
	line-height: 100%;
}

table.task_summary td{
	vertical-align: middle;
	padding: 5px;
	font-size: 11px;
	line-height: 8px;
	border: 0px;
}
