.jcarousel-skin-tango .jcarousel-container {
	border: 1px solid #ccc;
	background: #daefff;
	outline: 0;
	padding: 4px 7px;
	font-size: 16px;
	-moz-border-radius: 4px;
  	-webkit-border-radius: 4px;
  	border-radius: 4px;
  	-webkit-appearance: none;    
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 130px;
    height: 343px; 
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    margin-left: -12px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
	/* this is the item container area */
    width:  130px;
    height: 348px;
}

.jcarousel-skin-tango .jcarousel-item {
    width:  130px;
    height: 116px;
    padding-left: 20px;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
    padding-left: 20px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 65px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/layout/images/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 65px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/layout/images/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
